services:
  db:
    image: postgres:15-alpine
    container_name: sdid_postgres
    restart: always
    environment:
      POSTGRES_USER: sdid_user
      POSTGRES_PASSWORD: sdid_password
      POSTGRES_DB: sdid_db
      POSTGRES_HOST_AUTH_METHOD: md5
    ports:
      - "5433:5432"
    volumes:
      - ./G2_data_engineering/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


